/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

header{
  height:60px;
  background-color: lightcoral;
  display: flex;
  padding:0 20px;
}

.logo{
  color:#fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
}

.menu{
  margin-left: auto; /*se ponen a la derecha los links*/
}

.menu ul li{
  display: inline-block; /*alinea de forma horizontal*/
}

.menuLinks, .logo{
  display: inline-block;
  position: relative;
  color:#fff;
  text-decoration: none;
  line-height: 60px; /*para que se ponga en el medio de la barra*/
  padding:0 8px;
  text-transform: uppercase;
  transition: .2s;
}


.cart-widget{
/*  margin-left: auto; */
  line-height: 60px;
  cursor:pointer;
  padding: 8px 25px;
}

/*****************/
/****counter*****/
/***************/

div.counter {
  background-color: rgb(236, 236, 236);
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  border-radius: 100%;
  margin:0 10px;
}


/*******************/
/*list of products*/
/*****************/
.listContainer{
  display:flex;
  justify-content:center; /*centrar el div con flexbox*/  
  margin-top:30px;
}

.quantity {
  display:flex;
  justify-content:center; /*centrar el div con flexbox*/
  margin-top:10px;
}

.productView{
  width: 270px;
  height:270px;
  display:inline-block;
  float: left;
  border: 1px solid rgb(240, 141, 141);
  border-radius: 1%;
  margin:15px;
  padding:10px;
}

.productImage{
  width: 200px;
  height: 200px;
  border-bottom:1px solid rgb(240, 141, 141);
  padding-bottom: 5px;
}

.productLink{
  text-decoration:none;
  color: black;
}

/*****************/
/*single product*/
/***************/
.productImg{
  width: 300px;
  height: 300px;
  margin-top:20px;
}
 
.productDetInfo{
  float: right;
  padding-top:30px;
}

.productDetImage{
  float: left;

}

.singleProduct{
  width: 800px;
  height:450px;
  display: inline-block;
}

.productDetDet{
  width:400px;
  margin-bottom: 10px;
}

.productTitle{
  margin-bottom: 10px;
}

.productPrice{
  font-weight: 500;
}

.btnAddCart{
  margin:15px 0;
  padding:5px;
  background-color:lightcoral;
  border:none;
  width:150px;
  height:50px;
  font-weight: 700;
  cursor: pointer;
  color:white;
  border: 1px solid white;
  border-radius: 5%;
}